html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

.home-container {
  color: #787878; }
  .home-container .slides {
    list-style: none; }
    .home-container .slides .slide .banner {
      position: relative;
      background: #dad3cf url("../images/banner.jpg") center center no-repeat;
      width: 100%;
      height: 450px;
      border-bottom: 1px solid #e4e4e4; }
    .home-container .slides .slide .show {
      padding: 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-bottom: 1px solid #e4e4e4;
      background: #f6eee9; }
      .home-container .slides .slide .show .content {
        font-size: 16px; }
        .home-container .slides .slide .show .content p {
          margin-bottom: 25px;
          color: #738089; }
        .home-container .slides .slide .show .content p.highlight {
          color: #626574;
          text-shadow: 1px 0 9px rgba(0, 0, 0, 0.5); }
          .home-container .slides .slide .show .content p.highlight span.big {
            text-shadow: 1px 0 6px rgba(0, 0, 0, 0.8);
            font-size: 1.1em; }
        .home-container .slides .slide .show .content span.big {
          color: #42475b;
          text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }
      .home-container .slides .slide .show .iphone {
        position: relative;
        width: 271px;
        margin: 0 auto; }
        .home-container .slides .slide .show .iphone img {
          width: 271px; }
        .home-container .slides .slide .show .iphone .screen {
          position: absolute;
          top: 98px;
          left: 25px;
          width: 224px;
          height: 382px;
          overflow: hidden; }
          .home-container .slides .slide .show .iphone .screen .pics {
            width: 2500px; }
            .home-container .slides .slide .show .iphone .screen .pics li {
              position: relative;
              width: 224px;
              height: 382px;
              float: left;
              margin-right: 30px;
              background: #eee; }
              .home-container .slides .slide .show .iphone .screen .pics li img {
                width: 224px;
                height: 382px; }
              .home-container .slides .slide .show .iphone .screen .pics li.cover {
                z-index: 99; }
    .home-container .slides .slide .article {
      background: #fffbf7;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-bottom: 1px solid #e4e4e4;
      padding: 30px; }
      .home-container .slides .slide .article p {
        margin-bottom: 44px; }
      .home-container .slides .slide .article .icon {
        text-align: center;
        color: #a0a4b7;
        margin-top: 44px; }
      .home-container .slides .slide .article .question {
        color: #3d3d3d;
        font-size: 21px;
        font-weight: bold;
        text-align: center; }
      .home-container .slides .slide .article .answer {
        color: #787878;
        background: #FFFEF7;
        height: 200px;
        text-indent: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px;
        -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px; }
        .home-container .slides .slide .article .answer i {
          color: #e4e4e4; }
        .home-container .slides .slide .article .answer a {
          color: #3d3d3d;
          font-weight: bold; }
        .home-container .slides .slide .article .answer .highlight {
          color: #42475b;
          font-weight: bold; }
    .home-container .slides .slide .career {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-bottom: 1px solid #e4e4e4;
      padding: 30px;
      padding-top: 50px;
      padding-bottom: 50px;
      background: #f6eee9; }
      .home-container .slides .slide .career .title {
        color: #3d3d3d;
        font-size: 36px;
        margin-bottom: 30px; }
      .home-container .slides .slide .career .sub {
        color: #3d3d3d;
        font-size: 18px; }
    .home-container .slides .slide .links {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 30px;
      padding-top: 50px;
      padding-bottom: 50px;
      border-bottom: 1px solid #e4e4e4;
      background: #fffbf7; }
      .home-container .slides .slide .links .links-title {
        color: #3d3d3d;
        font-size: 36px;
        margin-bottom: 30px; }
      .home-container .slides .slide .links a {
        color: #787878; }
      .home-container .slides .slide .links div {
        margin-bottom: 10px; }
    .home-container .slides .slide .about {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 30px;
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center;
      background: #FFF3E7; }
      .home-container .slides .slide .about .logo {
        width: 130px;
        height: 130px;
        border: 1px solid #e4e4e4;
        margin: 20px auto;
        -webkit-border-radius: 23px;
        -moz-border-radius: 23px;
        -ms-border-radius: 23px;
        -o-border-radius: 23px;
        border-radius: 23px; }
        .home-container .slides .slide .about .logo img {
          width: 128px;
          height: 128px; }
      .home-container .slides .slide .about .brand {
        color: #3d3d3d;
        font-size: 32px; }
      .home-container .slides .slide .about i {
        font-size: 24px; }
      .home-container .slides .slide .about a {
        text-decoration: none;
        letter-spacing: 30px;
        color: #42475b; }
      .home-container .slides .slide .about .contact {
        color: #42475b; }
      .home-container .slides .slide .about .power {
        margin-top: 30px;
        font-size: 18px;
        text-align: center; }
